<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{editando ? 'Edição de ' : 'Novo '}} Estado</h1>
      </div>


      <div class="ui-g-12 ui-fluid">
        <label>Descrição Autor</label>
        <input pInputText type="text" [(ngModel)]="estado.nome"
              name="nome" #nome="ngModel">
      </div>



      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Nova" class="ui-button-info"
          (click)="nova(f)"></button>

        <a routerLink="/estados">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>


