<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{editando ? 'Edição de ' : 'Nova '}} Competência</h1>
      </div>


      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" [(ngModel)]="competencia.nome"
              name="nome" #nome="ngModel">
      </div>


      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Nova" class="ui-button-info"
          (click)="nova(f)"></button>

        <a routerLink="/competencias">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>


